@import "../../_styles/mixins";
.hero-container {
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  height: 100vh;
  background: linear-gradient(to right bottom, #002d62 30%, #0066b2);
  .hero {
    display: flex;
    color: white;

    &__left {
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      line-height: 3rem;

      &__greet {
        font-weight: 400;
        letter-spacing: 0.2rem;
        font-size: 2rem;
      }

      &__name {
        font-weight: 800;
        font-size: 2rem;
        background: linear-gradient(112.67deg, #fa7cea 30%, #ffac4b);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        letter-spacing: 0.2rem;
      }

      .typewriter {
        display: inline;
        font-weight: 600;
        font-size: 2rem;
        color: rgb(235, 99, 126);
      }
    }

    &__right {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &__image {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  @include small {
    height: 80vh;
    .hero {
      &__left {
        width: 90%;
        margin: auto;

        &__greet,
        &__name,
        .typewriter {
          font-size: 1.5rem;
        }
      }
      &__right {
        display: none;
      }
    }
  }
}
